<%- include('../pembungkus/head.ejs') %>
<div id="login">
    <form action="/login" method="post">
        <h4>User Name</h4>
        <input type="text" name="txtUser" id="txtUser" class="form-control" autocomplete="off">
        
        <h4>Kata Sandi</h4>
        <input type="password" name="txtPass" id="txtPass" class="form-control">
        

        <button type="submit" class="btn btn-primary">Login</button>

    </form>
</div>
<%- include('../pembungkus/head.ejs') %>
